body {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #848282;
    border-radius: 8px;
}

.input-number {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-right: 10px;
}

.result{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    min-width: 100px;
    display: inline-block;
    background: white;
    margin-left: 10px;
}

.add-button {
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.baner{
    text-align:center;
    background-color:#c4daf0; 
    font-size: 30px;
    border-radius: 8px;
    padding: 10px;
}

.button{
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
}

h3 {
    display: flex;
    align-items: center;
}